#cuda stuff
*.if
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

#dev tools
tools/
build/
cato_Pkg/

.vscode
.idea
cuda-keyring_1.0-1_all.deb
# Archivos de CUDA del sistema
*.deb
cuda-keyring_*.deb
/var/cache/apt/archives/*.deb
*pyc